# Ignorar archivos y carpetas no deseados
/.VirtualBox/
/.android/
/.bash_history
/.console-ninja/
/.dotnet/
/.emulator_console_auth_token
/.git-for-windows-updater
/.gitconfig
/.idlerc/
/.lesshst
/.librarymanager/
/.matplotlib/
/.npmrc
/.nuget/
/.packettracer
/.recently-used.xbel
/.streamlit/
/.templateengine/
/.th-client/
/.viminfo
/.vscode/
/Advanced_IP_Scanner_Aliases.bin
/Advanced_IP_Scanner_Comments.bin
/Advanced_IP_Scanner_MAC.bin
/edb_mtk.exe
/edb_npgsql.exe
/edb_pgagent_pg16.exe
/edb_pgjdbc.exe
/edb_psqlodbc.exe
/edb_sqlprotect_pg16.exe
/javascript-dall-e-2/
/mi-calculadora/
/pseint/
/source/
